body::before {
    content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    background-color: white;
    background-image: url('https://images.unsplash.com/photo-1606462531602-29f689431baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    opacity: 40%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body {
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  code {
    font-family:'Roboto';
    font-size: 20px;
  }
  html {
    color: black;
    line-height: 1.4;
    font-family:'Roboto';
    min-width: 300px;
    background-color: white;
  }
  html::before {
    min-width: 300px;
    top: 0px;
  }
  header {
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
  }
  #main-doc {
    position: absolute; 
    padding: 0px 310px;
  }
  #main-doc header {
    position: center;
    text-align: center;
  }
  #navbar {
    position: fixed;
    height: 100%;
    min-width: 290px;
    width: 300px;
    top: 0px;
    left: 0px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 50px 0px;
    border-right: solid;
    border-color: black;
  }
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  #navbar li {
    border-top: 1px solid;
    width: 100%;
    position: relative;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @media only screen and (max-width: 800px)
  {
    
  .header {
    text-align: center;
    }  
  #navbar {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    top: 0px; 
    left: 0px;
    
  }
    